CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
CONTENTFUL_REVALIDATE_SECRET=

NEXT_PUBLIC_GOOGLE_TAG_MANAGER_GTM_ID=
NEXT_PUBLIC_AMPLITUDE_API_KEY=

NEXT_PUBLIC_CUSTOMER_IO_SITE_ID=
NEXT_PUBLIC_CUSTOMER_IO_API_KEY=

POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=