.prose.clinic-hero p {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.join-descr {
  padding: 64px 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.join-descr h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.join-descr h6 {
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #ec612a;
  margin: 16px 0 32px 0;
}
.join-descr h6 b {
  font-size: 21px;
  font-weight: 600;
  line-height: 130%;
}
.join-descr ul {
  margin: 16px 0;
  list-style-type: none;
}
.join-descr ul li {
  position: relative;
  padding-left: 8px;
  text-indent: -0.7em;
}
.join-descr ul li::before {
  position: absolute;
  left: -6px;
  content: "• ";
  color: #0c233f;
}
.join-descr ul li p {
  margin: 0;
}

.join-descr p {
  margin: 16px 0;
}

@media (max-width: 768px) {
  .join-descr {
    padding: 32px 0;
    font-size: 14px;
    line-height: 150%;
  }
  .join-descr h3 {
    font-size: 25px;
  }
  .join-descr h6 {
    font-size: 16px;
    line-height: 140%;
    margin: 16px 0;
  }
  .join-descr h6 b {
    font-size: 16px;
    line-height: 140%;
  }
}
