.prose.note {
  max-width: 100%;
}
.prose.note h3 {
  margin-top: 1rem;
}
.prose.note h3 b {
  font-size: 1.215rem;
  line-height: 130%;
  font-weight: 700;
}
.prose.note ul li {
  padding-left: 0;
}
.prose.note ul li::marker {
  color: #081121;
}
.prose.note ul li p {
  margin: 0;
  font-size: 1rem;
  line-height: 130%;
}
@media (max-width: 1024px) {
  .prose.note h3 {
    margin-bottom: 0;
  }
  .prose.note h3 b {
    font-size: 1.067rem;
    font-weight: 800;
  }
  .prose.note ul li p {
    font-size: 0.937rem;
  }
}
